<section id="banner" class="w-full h-96 px-32 flex items-center justify-center">
  <div class="w-full rounded-3xl">
    <p-carousel
      [value]="products"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="3000"
      orientation="horizontal"
      [showIndicators]="true"
      showNavigators="false"
    >
      <ng-template let-product pTemplate="item">
        <div class="{{ product.color }} w-full h-80 rounded-3xl"></div>
      </ng-template>
    </p-carousel>
  </div>
</section>
