<section id="banner" class="w-full h-80 bg-zinc-200/70">
  <div class="flex h-full w-full justify-between px-32">
    <div class="h-full flex justify-center flex-col space-y-2">
      <h2 class="text-zinc-800 font-bold font-roboto text-6xl">
        Product Catalog
      </h2>
      <h3 class="text-primary-green font-medium text-xl">
        Shop / All Products
      </h3>
    </div>

    <img
      class="h-full"
      src="assets/female-freelancer-portrait-banner.png"
      alt=""
    />
  </div>
</section>
